// colors
$primary = #000
$active1 = #009cff
$layout = #fff
$gray1 = #dadde0
$dark = #000

// fonts
$text = Helvetica, Arial, Sans-serif
$display = Helvetica, Arial, Sans-serif
$nuance = Helvetica, Arial, Sans-serif

// texts
$body = 26px/2 $text
$title1 = 54px/1.4 $display
$title2 = 34px/1.2 $display
$title3 = 24px/1.7 $display

// animations
$hover = .2s ease

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// breakpoints
desktop()
  @media (max-width: 1280px)
    {block}

tablet()
  @media (max-width: 900px)
    {block}

mobile()
  @media (max-width: 767px)
    {block}
