.layout
  max-width 1920px
  margin 0 auto
  min-height 100vh
  display flex
  flex-direction column
  overflow hidden

  &__header
  &__footer
    flex none

  &__content
    flex 1 0 auto
    z-index 0
